.cover {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: middle;
}

@media (min-width: 992px) {
  .cover {
    min-height: 82vh;
  }
}

.form-control:not(button),
.form-control:focus,
.form-select,
.form-select:focus,
button:focus {
  box-shadow: none !important;
  border-color: var(--bs-dark);
}

.form-control,
.form-select,
label,
.btn,
.card,
.round-off {
  border-radius: 6px;
}

.form-control,
.form-select,
label,
.card,
.btn,
.round-off, 
.navbar {
  border-width: 3px !important;
}

.card {
  border-color: var(--bs-dark);
}