.cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: middle;
}

.form-control:focus,
.form-select:focus,
button:focus {
  box-shadow: none !important;
  border-color: var(--bs-dark);
}